API_ID=33422392
API_HASH=9b66ed5b9e6a307951b3a681c80f9d4b
BOT_TOKEN=8943755391:AAGK66tioyQhT8kfF4TWJAPJAJfi-Z2Fiss
SESSION_STRING=BQH9_DgAIu2fSPAKzNGvRK1oVgw9_G-AlwH2-T9_nu0MEb_dLHNUfVfmohLPC_0E9-RLeaQ5d2qmF2WkTrhO8v47mTE_D_7CGUGLX3JrpT0vvl_HQtGAa-yIWYsEm1Bcn-WDfercfIn2Sy3Lk9lv8l2Dzn1DQP2cUIVvF4fgJBtHAAmdMCPQfT8xIHfD4LSt8rWVQ4ozLdKQj6kyqGUkfZ5OdNuObuqExMrshxO_iyn8VG1TC530vl2Gt1UDtodbf8WwD8pRLAhHboMeF0X9Ut7XEPvLTOh4FQ79aVlbv463oi7R9idBz2PY_3C1bkPYwujvfRVNvtxRP58tPYYbkTNsr5_NJwAAAAHiAUodAA
